.footer {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 1rem;
}

.articlesContainer {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.exclamation {
	color: lightgray;
}
