.requiredIndicator {
	color: var(--lust);
}

.tagBody {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 2px;
}

.tagOption {
	display: flex;
	align-items: center;
	width: 100%;
	gap: 10px;
}
